<div class="cards">
  <div class="card green">
    <div class="card-title">Total Shipments (Month)</div>
    <div class="card-value">{{ total_shipments_month }}</div>
  </div>

  <div class="card orange">
    <div class="card-title">On the Way Shipments</div>
    <div class="card-value">{{ inbound_shipments }}</div>
  </div>

  <div class="card blue">
    <div class="card-title">Pending GRN</div>
    <div class="card-value">{{ pending_grn }}</div>
  </div>

  <div class="card yellow">
    <div class="card-title">Arriving Today</div>
    <div class="card-value">{{ arriving_today }}</div>
  </div>

  <div class="card purple">
    <div class="card-title">GRN Completed</div>
    <div class="card-value">{{ grn_completed }}</div>
  </div>
</div>
